<IfModule mod_rewrite.c>
   RewriteEngine on

   DirectoryIndex userlist.php

   ErrorDocument 403 /server/404.php
   ErrorDocument 404 /server/404.php
   ErrorDocument 503 /server/404.php
</IfModule>

